<!DOCTYPE html>
<html>
  <head>
    <title>RandomNumber</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<h1> A Random Number Generator </h1>

  	<p> <%= @random_no %> </p>

    <%= yield %>

  </body>
  
</html>
